name: Build website & push to docker hub

on:
  push:
  workflow_dispatch:

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  build-with-clog:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.120.2
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb
      - name: Install Dart Sass
        run: sudo snap install dart-sass
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Install Node.js dependencies
        run: "[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true"
      - name: Build Hugo with clogrc
        env:
          # For maximum backward compatibility with Hugo modules
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: bash ./clogrc/build.sh

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: clog deploy.sh
        run: bash ./clogrc/deploy.sh

  # Release_Builds:
  #   runs-on: [self-hosted, Linux] #for when there's a bash script making the changes
  #   env:
  #     GH_TOKEN: ${{ secrets.PAT }}
  #   steps:
  #     ## include to use the latest version
  #     - uses: actions/checkout@v3
  #     - run: echo "I have run on tagged release"
  #     - run: echo "my tag is ${{ env.RELEASE_VERSION }}"
  #     # These get the tag from the .git file rather than passing through the value
  #     # build the release binaries
  #     - run: chmod u+x ./clogrc/go-build.sh && ./clogrc/go-build.sh ${{ secrets.PAT }}
  #     - run: chmod u+x ./clogrc/release.sh
  #     # upload the generated binaries
  #     - run: ./clogrc/release.sh ${{ env.RELEASE_VERSION }}
